.row {
    align-content: center;
    justify-content: center;
}

.col {
    align-content: center;
    justify-content: center;
}

#header {
    margin-top: 25px;
}

#card {
    margin-top: 50px;
    height: 50vh;
    background-color: lightblue;
}

#question {
    font-size: 30px;
    font-weight: bold;
}

.row .qItem {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    justify-content: left;
}