body {
    background-image: url('../images/cartographer.png');
}

.row {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.col {
    align-content: center;
    justify-content: center;
}

#header {
    margin-top: 25px;
}

h1, h3 {
    color: wheat;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#card {
    margin-top: 50px;
    height: 50vh;
    background-color: rgb(158, 158, 158);
    color: #333;
}

#question {
    font-size: 30px;
    font-weight: bold;
}

.row .qItem {
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    justify-content: left;
    margin-left: 20px;
    margin-right: 20px;
}

#footer {
    margin-top: 30px;
}

.selected {
    border-style: solid;
    border-color: black;
    border-width: 3px;
}